@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-fill-mode-forwards {
    animation-fill-mode: forwards !important;
  }
}

* {
  font-family: "georgia", serif;
}

strong {
  font-size: 1rem;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

.animate-none,
.animate-none * {
  animation: none !important;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation: none !important;
    transition: none !important;
  }
}

.first-load {
  .animate-fade-in,
  .animate-collapse-to-left,
  .animate-expand-from-left,
  .animate-collapse-to-top,
  .animate-expand-from-top {
    animation-duration: 0s !important;
  }
}
