@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-fill-mode-forwards {
    animation-fill-mode: forwards !important;
  }
}

* {
  font-family: "georgia", serif;
}

/* Mixin for md screens */
@mixin md() {
  @media (min-width: 768px) {
    @content;
  }
}

/* Mixin for lg screens */
@mixin lg() {
  @media (min-width: 1024px) {
    @content;
  }
}

.dashboard {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

@include md() {
  .dashboard {
    grid-template-columns: auto minmax(400px, 1fr);
  }
}

strong {
  font-size: 1rem;
}
