@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-fill-mode-forwards {
    animation-fill-mode: forwards;
  }
}

* {
  font-family: "georgia", serif;
}

/* Mixin for md screens */
@mixin md() {
  @media (min-width: 768px) {
    @content;
  }
}

/* Mixin for lg screens */
@mixin lg() {
  @media (min-width: 1024px) {
    @content;
  }
}

.app {
  grid-template-rows: repeat(2, auto);
}

@include md() {
  .app {
    grid-template-columns: auto 1fr;
  }
}

@include lg() {
  .app {
    grid-template-columns: auto 1fr;
  }
}

@include md() {
  .main-grid {
    grid-template-columns: 200px 1fr;
  }
}

@include lg() {
  .main-grid {
    grid-template-columns: 25% 1fr;
  }
}

strong {
  font-size: 1rem;
}

.disable-animations * {
  animation: none !important;
  transition: none !important;
}
